*.pyc

# PyCharm files
*.idea

#nano tmp files
*nano.save
*.swp

# scratch work
*scratch*

# generated stacks to teardown file
teardown.txt

# run files
run-west.sh
run-west2.sh
minimal-west.json
minimal-west2.json

# log files
taskcat_outputs\